<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" thread-count="4" parallel="tests"
	verbose="4">


	<test name="Google Test">

		<parameter name="browser" value="Chrome" />
		<parameter name="url" value="https://www.google.com/" />
		<classes>
			<class name="paralleltest.googletestparallel" />
		</classes>
	</test>


	<test name="OpenCart Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://naveenautomationlabs.com/opencart/index.php?route=account/login" />

		<classes>
			<class name="paralleltest.Opencarttest" />
		</classes>
	</test>

	<test name="Orangehrm Test">

		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://www.orangehrm.com/" />

		<classes>
			<class name="paralleltest.Orangehrmtest" />
		</classes>
	</test>
	
	
	<test name="datadriven Test">

		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://naveenautomationlabs.com/opencart/index.php?route=account/login"/>
		<classes>
			<class name="paralleltest.Datadriven" />
		</classes>
	</test>
		<test name="Registerpage Test">

		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://naveenautomationlabs.com/opencart/index.php?route=account/register"/>
		<classes>
			<class name="paralleltest.Registerpage" />
		</classes>
	</test>


</suite>